{{import_globals}}
<div class="component__inner media__inner">

  {{> component this}}

  <div class="component__widget media__widget">

    <div class="mediagallery__item-container">

      {{#each _items}}
      <button id="{{../_id}}-{{@index}}-mediagallery-item" class="mediagallery__item js-mediagallery-item{{#if _isVisited}} is-visited{{/if}}" data-index="{{@index}}" aria-label="{{ariaLabel}}">

        {{#if _graphic.src}}
        <div class="mediagallery__item-image-container">
          <img class="mediagallery__item-image" src="{{_graphic.src}}">
        </div>
        {{/if}}

        {{#if title}}
        <div class="mediagallery__item-title">
          <div class="mediagallery__item-title-inner">
            {{{title}}}
          </div>
        </div>
        {{/if}}

        {{#if subtitle}}
        <div class="mediagallery__item-subtitle">
          <div class="mediagallery__item-subtitle-inner">
            {{{subtitle}}}
          </div>
        </div>
        {{/if}}

      </button>
      {{/each}}

    </div>

    {{#if _media.mp3}}
      {{#if _media.poster}}
      <img class="media_poster is-audio" src="{{_media.poster}}">
      {{/if}}
      <audio src="{{_media.mp3}}" type="audio/mp3" style="width: 100%; height: 100%;"/>
    {{else}}
      {{#if _media.ogg}}
        <audio src="{{_media.ogg}}" type="audio/ogg" style="width: 100%; height: 100%;"/>
      {{else}}
        <video aria-hidden="true" preload="none" width="640" height="360" {{#if _playsinline}}playsinline{{/if}} {{#equals _media.type "video/vimeo"}}{{else}}poster="{{_media.poster}}"{{/equals}} style="width:100%; height:100%;" controls="controls">
          {{#if _media.source}}
            <source src="{{_media.source}}" type="{{_media.type}}"/>
          {{else}}
            {{#if _media.mp4}}
              <source src="{{_media.mp4}}" type="video/mp4"/>
            {{/if}}
            {{#if _media.ogv}}
              <source src="{{_media.ogv}}" type="video/ogg"/>
            {{/if}}
            {{#if _media.webm}}
              <source src="{{_media.webm}}" type="video/webm"/>
            {{/if}}
          {{/if}}
          {{#if _useClosedCaptions}}
            {{> mediaTracks _media.cc}}
          {{/if}}
        </video>
      {{/if}}
    {{/if}}

  </div>

  <div class="media__transcript-container"></div>

</div>
